<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#">WebSiteName</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
       <% if !user_signed_in? %>
         <%= link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe, new_user_session_path, class: 'btn btn-default' %>
       <% else %>
         <li><span class="navbar-text"><%= current_user.email %></span></li>
         <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
       <% end %>
    </ul>
  </div>
</nav>