// Template style

body{
	margin-top: 60px!important;
	margin-right: 10px!important;
}

#notice{
	margin-top: 10px;
}

#intro {
  background: #3a7bd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
	margin-left: 4%;
    margin-top: 2%;
    height: 360px;
}

.actions{
	margin-top: 0%;
}
.heading{
	display: inline-block;
	width: 100%;
	position: relative;
}
a:hover, a:visited, a:link, a:active
{
    color: none;
    text-decoration: none;
}

.user-text{
	margin-right: 10px;
	padding-top: 1.5rem!important;
}

.item1{
	margin-left:10px!important;
}
.holder{
	height: 1024px;
}
form {
    display: block;
    margin-top: 5em;
    margin-left: 35%;
}

.forgot_password{
	margin-left: 35%;
}

.sign_up_text{
	margin-left: 35%;
}
.fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
 #msg {
  position:absolute;
  padding-top: 30px;
  padding-left: 20px;
  height: 100px;
  width: 400px;
  z-index:1000;
  color:green;
  margin-top: 20%;
  margin-left: 40%;
  background: #FAFAFA;
  border-radius: 20px;
  box-shadow: 10px 10px #A4A4A4;
  display: none;
}
.butn{
  width: 300px!important;
  margin-left: 40%!important;
}